.countries{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-gap: 20px;
}
.country{
    border: 3px solid black;
    background-color: #1A2238;
    border-radius: 20px;
    padding: 20px;
    color: white;
}
.country img{
  width: 200px;  
}